* {
  margin: 0;
  padding: 0; 
  border: 0;
  outline: none;
  box-sizing: border-box;
}
a {
  color: $second-color;
  text-decoration: none ! important;
  @include link($second-color, $second-color, $primary-color, $primary-color);
}
body {
  margin: 0 auto;
  line-height: 20px;
  font-size: $base-font-size;
  color: $second-color;
  font-weight: $base-font-weight;
  background: $background ! important;
  font-family: $font-family;
}
.container {
  @include box-shadow(0px, 0px, 10px, 0, rgba(0,0,0,.2));
  background: $white-color;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h2 {
  font-size: 28px;
  line-height: 36px;
}
h3 {
  font-size: 24px
}
h4 {
  font-size: 20px;
}
h3,
h4 {
  line-height: 35px;
}

