$primary-color: #c00;
$second-color: #434343;
$border-color: #e1e1e1;
$base-font-size: 13px;
$base-font-weight: 400;
$background: #eeeeee;
$white-color: #ffffff;
$total-text-bg: #f7f7f7;
$footer-bg: #3b3b3b ;;
$copyright-bg: #2e2e2e;
$font-family: Georgia, Times, "Times New Roman", serif;
