$primary-color: #c00;
$second-color: #434343;
$border-color: #e1e1e1;
$base-font-size: 14px;
$base-font-weight: 400;
$background: #eeeeee;
$white-color: #ffffff;
$footer-bg: #3b3b3b ;
$copyright-bg: #2e2e2e;