input, textarea {
  min-height: 24px;
  display: inline-block;
  padding: 5px;
  border: 1px solid $border-color;
  @include box-shadow(0px, 1px, 1px, 0px, rgba(0, 0, 0, 0.06));
  @include border-radius(1px);
}
